<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>

<body style="background-color: #ebedef;">

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
    <h2>Register</h2>

    <form method="post">

        <div class="form-group">
            <label>Username
                <input class="form-control" th:field="${registrationFormDTO.username}" />
            </label>
            <p class="error" th:errors="${registrationFormDTO.username}"></p>
        </div>

        <div class="form-group">
            <label>Password
                <input class="form-control" th:field="${registrationFormDTO.password}" type="password" />
            </label>
            <p class="error" th:errors="${registrationFormDTO.password}"></p>
        </div>

        <div class="form-group">
            <label>Verify Password
                <input class="form-control" th:field="${registrationFormDTO.verifyPassword}" type="password" />
            </label>
            <p class="error" th:errors="${registrationFormDTO.verifyPassword}"></p>
        </div>

        <input type="submit" class="btn btn-primary" value="Register" />
    </form>

    <div id="registerImage"></div>

</div>
</body>
</html>